<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <h2>@Html.ActionLink("Home Service", "Index", "Home",null, htmlAttributes: new { @class = "navbar-brand"})</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between align-items-lg-center" id="navbarNav">
                <ul class="navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Vendor") || User.IsInRole("Admin"))
                        {
                            <li class="dropdown nav-item active">
                                <a class="dropdown-toggle nav-link" href="#" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Vendor
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @Html.ActionLink("Home", "Index", "Vendor", null, htmlAttributes: new { @class = "nav-link text-primary" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("My Services", "MyServices", "Vendor", null, htmlAttributes: new { @class = "nav-link text-dark" })
                                </div>
                            </li>
                        }
                    }

                    <li class="nav-item active">
                        @Html.ActionLink("Marketplace", "Index", "MarketPlace", null, htmlAttributes: new { @class = "nav-link" })
                    </li>

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("My Bookings", "MyBookingsUser", "Bookings", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        }
                        else if (User.IsInRole("Vendor"))
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Booked Services", "MyBookingsVendor", "Bookings", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        }
                    }

                </ul>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Home Service</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
