<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <h2>@Html.ActionLink("Home Service", "Index", "Home",null, htmlAttributes: new { @class = "navbar-brand"})</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Vendor") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item active">
                                @Html.ActionLink("Vendor", "Index", "Vendor", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        }
                    }

                    <li class="nav-item active">
                        @Html.ActionLink("Catalog", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Home Service</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
